@{
  Layout = "_Layout";
}

@model PierreTreats.Models.ApplicationUser

<h2>Edit @Html.DisplayFor(model => model.UserName)</h2>

@using (Html.BeginForm())
{
  @Html.Label("Updated Name: ")
  @Html.EditorFor(model => model.UserName)
  <br><br>
  <input type="submit" value="Save"/>
}