@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h2>Hello @ViewBag.UserName!</h2>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" id="green-button" value="Log out" />
  }
}
else
{
    <p>Not a member? <a href="/Account/Register">Register</a></p>
    <p>Have an Account? <a href="/Account/Login">Log-In</a></p>
}